@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin typicalBtn {
    background-color: $gold;
    color: $greenest;
    padding: .8rem 1.5rem;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    cursor: pointer;
}