// c o l o r s

$gold: #B48125;
$golder: #994E12;
$goldest: #8C3F0D;
$green: #325D41;
$greener: #254832;
$greenest: #2A3A30;


// f o n t s

$title: 'Londrina Solid', cursive;
$text: 'Yusei Magic', sans-serif;